@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #18082f;
    color: white;
}

img {
    max-width: 220px;
}