@tailwind base;
@tailwind components;
@tailwind utilities;

html, .groceries-category {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #18082f;
    color: white;
    font-family: 'Inter', sans-serif;
}

/*img {
    max-width: 220px;
}*/

.slide {
    overflow: hidden;
    position: relative;
  }
  
  .slide-enter-active, .slide-leave-active{
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
  }
  
  .slide-enter-from {
    transform: translateX(-100%);
  }
  
  .slide-leave-to {
    transform: translateX(100%);
  }
  
  .slide-enter-to, .slide-leave-from {
    transform: translateX(0);
  }